@import url("Normalize.css");
/*
  ========================================
  Custom styles
  ========================================
*/

:root {
  font-size: 16px;
}
main {
  font-family: 'Pacifico', "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ccb5a3;
  width: 100vw;
  max-width: 100%;
  font-size: 1.375rem;
}
section {
  text-align: center;
  max-width: 100%;
  color: #666;
  padding: 0.625rem;
}
section:first-of-type img {
  height: 9.375rem;
}
section:nth-of-type(odd) {
  background: #62002d;
}
span {
  display: block;
}
svg {
  height: 1.875rem;
  width: 1.875rem;
  display: inline;
}
/*
  ========================================
  Typography
  ========================================
*/
h2 {
  color: #62002d;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lobster Two", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-style: italic;
}
section:nth-of-type(odd) h2{
  color: #ccb5a3;
  font-family: "Lobster Two", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-style: italic;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
  font-style: italic;
}
/*
  ========================================
  Images
  ========================================
*/
  
/*
  ========================================
  Header
  ========================================
*/
header {
  background: #888;
  color:#fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  text-transform: uppercase;
}

.logo {
  height: 5.625rem;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  opacity: 0.50;
}

header li {
  margin: 0.625rem;
}

/*
  ========================================
  Projects
  ========================================
*/
  img {
    height: 12.5rem;
  }
/*
  ========================================
  Contact
  ========================================
*/
section:nth-of-type(3) {
  display: grid;
}

input,
textarea {
  width: 60%;
  border-radius: 0.625rem;
  line-height: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.625rem;
  
}
textarea {
  width: 90%;
  display: block;
  margin-bottom: 0.625rem;
  margin: auto;
}

  /*========================================
  Buttons
  ========================================
*/
.btn {
	cursor: pointer;
	display: block;
	letter-spacing: 0.03125rem;
  padding: 0.625rem;
  border: 2px solid #fff;
  background: #62002d;
  color: #fff;
  border-radius: 0;
  margin: 0.625rem auto;
}

footer {
  background: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

/*========================================
  Media Queries
  ========================================
*/